<!DOCTYPE html>
<html>
<head>
  <title>Darp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "darp/application", media: "all" %>
  <%= javascript_include_tag "darp/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
